@use "base/variables" as v;
@use "base/mixins" as m;

.cards {
  padding: 5rem 0;
  &__grid {
    @include m.tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }
  }
}
.card {
    max-width: 35rem;
    margin: 0 auto 2rem auto;
    @include m.tablet { 
        max-width: unset;
        margin: 0;
    }
    &__imagen{
        width: 100%;
        border: .5rem solid v.$blanco;
        &:hover{
            transform: scale(1.2) rotate(5deg);
            transition: transform ease-in 200ms;
        }
    }
    &__contenido{
        max-width: 90%;
        background-color: v.$blanco;
        margin: 0 auto;
        transform: translateY(-5rem);
        padding: 2rem 1rem;
    }
    &__heading{
        @include m.headingsCursivos;
        font-size: 3.4rem;
    }
    &__enlace{
        @include m.boton(v.$secundario, v.$blanco);
        display: block;
    }
}
