@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  &__grid {
    padding: 5rem 0;
    @include m.tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }
  }
  &__widget {
    text-align: center;
    &:last-child {
      nav {
        justify-content: center;
        gap: unset;
        margin: unset;
      }
    }
  }
  &__heading {
    @include m.heading;
    font-size: 3.4rem;
  }
  &__texto {
    line-height: 1.8;
  }
  &__copyright {
    padding: 1rem;
    text-align: center;
    max-width: 120rem;
    margin: 2rem auto 0 auto;
    border-top: 1px solid darken(v.$grisClaro, 10%);
    color: v.$gris;
  }
}
